<a href="https://colab.research.google.com/github/khj1116/python-coding/blob/main/0703.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. 입력값 존재, 리턴값 존재하는 경우
def add(a, b):
  return a + b

a = 4
b = 7

print(add(a,b))

11

In [ ]:
#2. 입력값 존재 x, 리턴값 있는 경우
def say():
  return 'Hi'
a = say()
print(a)

Hi

In [ ]:
#3. 입력값 존재, 리턴값은 없는 경우
def add(a, b):
  print('%d, %d의 합은 %d입니다.' % (a, b, a+b))
add(5,6)

5, 6의 합은 11입니다.

In [ ]:
#4. 입력값 없고, 리턴값 없는 경우
def say():
  print('hi')
say()

hi

In [ ]:

#문제 : 1번 형태로 sub(), 2번 형태로 mul(), 3번 형태로 div()함수 만들기
def sub(x, y):
  return x - y
x = 52
y = 48
print(f"{x}와 {y}의 차는 {sub(x,y)}")

def mul():
  i = 4
  j = 6
  return i * j
a = mul()
print(a)

def div(a, b):
  if b == 0:
    print("0으로 나눌 수 없습니다. ")
  else:
    print('%d, %d의 나눗셈은 %d입니다.' % (a, b, a/b))
div(24,8)

52와 48의 차는 4
24
24, 8의 나눗셈은 3입니다.

In [ ]:
#문제 : 줄을 바꿔 문자2개를 입력받고, 순서를 바꿔 한 줄씩 출력해보자.
a = input()
b = input()
print("----")
print(b)
print(a)

y
s
----
s
y

In [ ]:
def print_key(*arg):
  result = 0

  for i in arg:
    result += i
  return result
a = print_key(1,2,3)
print(a)
a = print_key(6,7,8,9)
print(a)

6
30

In [ ]:
def add_mul(choice, *arg):
  if choice == 'add':
    result = 0
    for i in arg:
      result += i
  elif choice == 'mul':
    result = 1
    for i in arg:
      result *= i
  return result

result = add_mul('add', 1,2,3,4,5)
print(result)
result = add_mul('mul',1,2,3,4,5)
print(result)

15
120

In [ ]:
def add_mul(a,b):
  return a + b, a * b
result = add_mul(3,4)
print(result)

res1, res2 = add_mul(3,4) #수정, 가공이 불가
print(res1, res2) #수정, 가공이 가능한 형태로 출력

(7, 12)
7 12

In [ ]:
def say_myself(name, age, man=True):
  print('내 이름은 %s입니다.' %name)
  print('나이는 %d세입니다.' %age)
  if man:
    print('성별은 남성입니다.')
  else:
    print('성별은 여성입니다.')
say_myself('김현준', 30)

내 이름은 김현준입니다.
나이는 30세입니다.
성별은 남성입니다.

In [ ]:
a = 1
def test(a):
  a = a+1
  #return a

test(a)
print(a)

1

In [ ]:
a = 1
def vartest():
  global a
  a = a + 1


vartest()
print(a)

2

In [ ]:
class FourCal:
  pass
a = FourCal()
print(type(a))

<class '__main__.FourCal'>

In [ ]:
class FourCal:
  def set_data(self, first, second):
    self.first = first
    self.second = second
  def add(self):
    result = self.first + self.second
    return result

a = FourCal() #객체(인스턴스)생성
a.set_data(4,2) #변수 정의

print(a.add()) #메서드 호출

6

In [ ]:
class FourCal:
  def set_data(self, first, second):
    self.first = first
    self.second = second
  def add(self):
    result = self.first + self.second
    return result

a = FourCal() #객체(인스턴스)생성
b = FourCal()
a.set_data(4,2) #변수 정의
b.set_data(5,7)
print(a.add())
print(b.add())

6
12

In [64]:
class FourCal:
  def __init__(self, first, second):
    self.first = first
    self.second = second

a = FourCal(4,2) #객체(인스턴스)생성
a.first

4

In [80]:
class student():
  def __init__(self, name, age, like):
    self.name = name
    self.age = age
    self.like = like
  def studentinfo(self):
    print(f"이름 : {self.name}, 나이 : {self.age}, 좋아하는 것 : {self.like}")
a = student("김철수", 17, '축구') #첫번째 인스턴스 생성
b = student("장다인", 5, '헬로카봇') #두번째 인스턴스 생성
a.studentinfo()
b.studentinfo()

이름 : 김철수, 나이 : 17, 좋아하는 것 : 축구
이름 : 장다인, 나이 : 5, 좋아하는 것 : 헬로카봇

In [86]:
class Mother():
  def __init__(self):
    print('키가크다')
    print('공부를 잘한다')

class Daughter(Mother):
  def __init__(self):
    super().__init__()
    print('운동을 잘한다')

print('딸은')
딸 = Daughter()

딸은
키가크다
공부를 잘한다
운동을 잘한다

In [93]:
class Dog:
  s = "Families"
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name} is {self.age} years old"

  def speak(self,sound):
    return f'{self.name} says {sound}'

class Samoyed(Dog):
  def __init__(self, name, age):
    super().__init__(name, age)
  def speak(self, sound = 'YAP'):
    return f'{self.name} says {sound}'
'''
kara = Dog("kara", 4)
wood = Dog("wood", 6)
wood.speak('wal')
print(wood)
print(kara)
'''
kara = Samoyed('kara', 4)
kara.speak()

'kara says YAP'