<a href="https://colab.research.google.com/github/khj1116/python-coding/blob/main/0704(%EC%B2%98%EC%9D%8C%EB%B6%80%ED%84%B0%EC%A0%95%EB%A6%AC)_ipynb%EC%9D%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 처음부터 총 정리(입력, 출력, 조건, 반복) -> 함수와 클래스 -> 모듈 -> 패키지
#print부터
print('hello')

hello

In [ ]:
print("hello")

hello

In [ ]:
print('hello "안녕하세요"')

hello "안녕하세요"

In [ ]:
print("hello '안녕하세요'")

hello '안녕하세요'

In [ ]:
print('안녕','하세요',"반갑습니다")

안녕 하세요 반갑습니다

In [ ]:
print('안녕' + '하세요' + ' 반갑습니다')

안녕하세요 반갑습니다

In [ ]:
print("""안녕하세요
         오늘은 날씨가 좋네요""")

안녕하세요
         오늘은 날씨가 좋네요

In [ ]:
print('''안녕하세요
오늘은 좋네요''')

안녕하세요
오늘은 좋네요

In [ ]:
print("안녕하세요"\
      '오늘은 날씨가 좋네요')

안녕하세요오늘은 날씨가 좋네요

In [ ]:
a = 123
b = '안녕하세요'
print('a값:{} b값:{}'.format(a, b))

a값:123 b값:안녕하세요

In [ ]:
a = 123
b = '안녕하세요'
print(f'a값:{a} b값:{b}')

a값:123 b값:안녕하세요

In [ ]:
a = float(input('첫번째 문자열 입력 : '))
b = float(input('두번째 문자열 입력 : '))
print(a/b)

첫번째 문자열 입력 : 1
두번째 문자열 입력 : 3
0.3333333333333333

In [ ]:
a = input('첫번째 문자열 입력 : ')
b = int(input('두번째 문자열 입력 : '))
print(a+b)

첫번째 문자열 입력 : 10
두번째 문자열 입력 : 2

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = '10'
b = 20
print(int(a)+b)

30

In [ ]:
a = '10'
b = 20
print(a+str(b))

1020

In [ ]:
ab = True
bb = False
ai = 1
bi = 0
type(bb)

bool

In [ ]:
a = 3
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a%b)
print(b//a)

7
-1
12
0.75
81
3
1

In [ ]:
head = 'Python'
tail = 'is fun'
print(head+tail)
print(head*2)
head = head + tail
print(head)
print(len(head))

Pythonis fun
PythonPython
Pythonis fun
12

In [ ]:
a = 'Life is too short, You need Python'
print(a[0])
print(a[15:17])
print(a[-6])
print(a[:4])
print(a[-6:])

L
rt
P
Life
Python

In [ ]:
print('I eat %d apples.' % 3)
print('I eat %s apples' % 'five')
num = 3
print('I eat %d apples.' % num)

num = 10
day = 'three'
print('I eat %d apples. I was sick for %s '% (num, day))

I eat 3 apples.
I eat five apples
I eat 3 apples.
I eat 10 apples. I was sick for three

In [ ]:
print('%0.4f' % 3.1415926535)
print('%10.4f' % 3.1415926535)

3.1416
    3.1416

In [ ]:
print('%10s' % 'hi')
print('%-10s  jain' % 'hi')

        hi
hi          jain

In [ ]:
print('I eat {} apple'.format(3))
print('I eat %d apples'%3)
num = 3
day = 'three'
print('I eat {0} apples. so I was sick for {1} days'.format(num,day))
print('I eat {1} apples. so I was sick for {0} days'.format(num,day))

I eat 3 apple
I eat 3 apples
I eat 3 apples. so I was sick for three days
I eat three apples. so I was sick for 3 days

In [ ]:
name = '홍길동'
age = 30
print(f'나의 이름은 {name}입니다. 나이는 {age}세 입니다.')

d = {'name' : '홍길동', 'age' : 30}
print(f'나의이름은 {d["name"]}입니다. 나이는 {d["age"]}세 입니다.')

나의 이름은 홍길동입니다. 나이는 30세 입니다.
나의이름은 홍길동입니다. 나이는 30세 입니다.

In [ ]:
print(f'{"hi" :*<10}')
print(f'{"hi":=>10}')
print(f'{"hi":^10}')
print(f'{{and}}')
print(f'{"hi":=^10}')
print(f'{"hi":*^10}')

hi********
========hi
    hi
{and}
====hi====
****hi****

In [ ]:
a = 'hobby'
#print(len(a))
#print(a.count('b'))
#print(','.join("abcd"))
#print(','.join(a))
a = 'Python is the best choice'
print(a.find('b'))
print(a.find('k')) #값의 존재 유무를 알고 싶을 때
print(a.index('b')) #위치값을 알고 싶을 때
print(a.index('k'))

14
-1
14

ValueError: substring not found

In [ ]:
a = 'hi'
print(a.upper())
a='Hi'
print(a.lower())

a= '   hi   '
print(a.lstrip())   #왼쪽 정렬
print(a.rstrip())  #오른쪽 정렬
print(a.strip()) #공백 제거

a = 'Life is too short'
print(a.replace('Life', 'Your leg'))
print(a.split())
a = 'Life:is:too:short'
print(a.split(':'))

HI
hi
hi
   hi
hi
Your leg is too short
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']

In [ ]:
a = []
a = [1,2,3] #요소, 인덱스(위치값)
a = ['life', 'is']
a = [1,True,'life']

In [ ]:
a = [1,2,3,4,5]
print(a)
print(a[0])
print(a[0]+a[4])
print(a[-3])

[1, 2, 3, 4, 5]
1
6
3

In [ ]:
a = [1,2,3,['a','b','c']]
print(a[0])
print(a[3])
print(a[3][1])
print(a[-1][0])

1
['a', 'b', 'c']
b
a

In [ ]:
a = [1,2,3,['a','b','c'],['f','g','h']]
#문제 f ,f, g, h, a ,h  출력
print(a[-1][0])
print(a[-1])
print(a[3][0], a[-1][2])
print(a[2:])

f
['f', 'g', 'h']
a h
[3, ['a', 'b', 'c'], ['f', 'g', 'h']]

In [ ]:
a = [1,2,3]
b = [4,5,6]
print(len(a))
print(a+b)
print(len(a*3))
del(b[1])
print(b)

3
[1, 2, 3, 4, 5, 6]
9
[4, 6]

In [ ]:
a = [1,2,3]
b = [4,6]

b.append(5)
del b[2:]
b.append(8)
b.append(5)
b.sort() #오름차순 정렬
b.reverse() #내림차순 정렬
print(b)
b.insert(0,10)
b.insert(1,7) #(index, value)
print(b)

[8, 6, 5, 4]
[10, 7, 8, 6, 5, 4]

In [ ]:
a = [1,2,3]
a.insert(0,4)
a.insert(3,5)
print(a)

b = [1,2,3,1,2,3]
b.remove(3)
print(b)
c = [6,7]
b.extend(c) #맨 뒤에 추가
print(b)

[4, 1, 2, 5, 3]
[1, 2, 1, 2, 3]
[1, 2, 1, 2, 3, 6, 7]

In [ ]:
t1 = (1,)
type(t1)
t2 = (1,2,3)
t3 = 1,2,3
t4 = ('a', 'b', ('ab', 'cd'))
print(t1+t2)
print(len(t4))
print(t2[0])
t2[0] = 5 #튜플의 특징(변경불가)

(1, 1, 2, 3)
3
1

TypeError: 'tuple' object does not support item assignment

In [ ]:
a_dic = {'a':1,'b':2, 'c':'3', 'd': 3}
print(a_dic)
print(a_dic['a'])
print(type(a_dic['c']))
print(type(a_dic['c']))
print(type(a_dic['d']))

{'a': 1, 'b': 2, 'c': '3', 'd': 3}
1
<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
a_dic['d'] = 10
print(a_dic)

{'a': 1, 'b': 2, 'c': '3', 'd': 10}

In [ ]:
a_set = set([1,2,3,4])
print(a_set)

{1, 2, 3, 4}

In [ ]:
b_set = set([1,2,3,3,4,4,6,7,23,84,231,1886,12861,44]) #중복 삭제
print(b_set)

{1, 2, 3, 4, 6, 7, 231, 44, 84, 23, 12861, 1886}

In [ ]:
a_list = ['안녕', 1,2,'파이썬']
if '안녕' not in a_list:  #true(안녕이 없어야)
  print("없음")
else :
  print("있음")
if 5 in a_list:
  print("있음")
else :
  print("없음")

있음
없음

In [ ]:
for i in range(1,10,3):   #range(시작값,끝값보다 하나 작은 값,증감값) :
  print(i, end = ' ')

1 4 7

In [ ]:
for i in range(10,1, -3):
  print(i, end = ' ')

10 7 4

In [ ]:
a_str = 'hello python'
for i in a_str:
  print(i)

h
e
l
l
o

p
y
t
h
o
n

In [ ]:
name = ['홍길동', '장다인', '김철수']
age = [10, 20, 30]

#for i in name:           #i = name[0], i = name[1], i = name[2]
#  print(name[i])

for i in range(len(name)):
  print(name[i])

홍길동
장다인
김철수

In [3]:
for i in range(7):
  print(i)

0
1
2
3
4
5
6

In [5]:
for i in range(5,10):
  print(i)

5
6
7
8
9

In [13]:
for i in range(10,5,-1):
  print(i)

10
9
8
7
6

In [15]:
a_list = [1,2,3,4,5,"안녕","하세요"]
for i in a_list:
  print(i)

1
2
3
4
5
안녕
하세요

In [17]:
a_str = "hello python"
for i in a_str:
  print(i)

h
e
l
l
o

p
y
t
h
o
n

In [31]:
name_list = ["홍길동","신짱구","김철수"]
age_list = [500,5,12]

for i,j in enumerate(name_list):
  print(j,end = ' ')
  print(age_list[i])


for i, k in enumerate(name_list):
  print(name_list[i], end = '  ')
  print(age_list[i])

홍길동 500
신짱구 5
김철수 12
홍길동  500
신짱구  5
김철수  12

In [34]:
name_list = ["홍길동","신짱구","김철수"]
age_list = [500,5,12]
for i in range(len(name_list)):
    print(name_list[i],end = ' ')
    print(age_list[i])

홍길동 500
신짱구 5
김철수 12

In [37]:
test_list = [i for i in range(10)]
print(test_list)
test2_list = []
for i in range(10):
  test2_list.append(i)
print(test2_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
test_list = [i * 5 for i in range(10)]
print(test_list)
test2_list = [0 for i in range(10)]
print(test2_list)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [49]:
a = [1,2,3,4]
result = []
#방법 1
for i in a:
  result.append(i*3)
print(result)

#방법2
result = [n * 3 for n in a]
print(result)

#짝수만 3 곱하기
result = [num*3 for num in a if num % 2 == 0]
print(result)

#짝수만 3 곱하기

[3, 6, 9, 12]
[3, 6, 9, 12]
[6, 12]

In [57]:
#실습문제
marks = [90,25,87,60,77]
number = 0
for mark in marks:
    number += 1
    if mark >= 60:
      print("%d번 학생은 합격" %number)
    else:
      print("%d번 학생은 불합격" %number)

1번 학생은 합격
2번 학생은 불합격
3번 학생은 합격
4번 학생은 합격
5번 학생은 합격

In [59]:
marks = [90,25,87,60,77]
number = 0
for mark in marks:
    number += 1
    if mark < 60:
        continue
    print("%d번 학생 축하합니다." %number)

1번 학생 축하합니다.
3번 학생 축하합니다.
4번 학생 축하합니다.
5번 학생 축하합니다.

In [69]:
#구구단
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end = ' ')
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [2]:
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [4]:
a = 0
while a < 5:
  print(a)
  a += 1

0
1
2
3
4

In [6]:
a = 0
while True:
    print(a)
    a = a + 1
    if a >= 5:
        break

0
1
2
3
4

In [8]:
#여러가지 선택지 중 하나를 선택해 입력받기
# 4를 입력해야만 종료
prompt = '''
  1.ADD
  2.DEL
  3.LIST
  4.QUIT

  ENTER NUMBER : '''
number = 0
while number != 4:
   print(prompt)
   number = int(input())

  1.ADD
  2.DEL
  3.LIST
  4.QUIT

  ENTER NUMBER :

KeyboardInterrupt: Interrupted by user

In [11]:
coffee = 10
money = 300
while money:
  print('돈을 받았으니 커피를 줍니다.')
  coffee = coffee - 1
  print(f'남은 커피의 양은 {coffee}개입니다.')
  if coffee == 0:
    print('재료가 소진되었습니다. 판매를 중지합니다.')
    break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
재료가 소진되었습니다. 판매를 중지합니다.

In [13]:
a=0
while a<10:
  a += 1
  if a % 2 == 0 :
      continue
  print(a)

1
3
5
7
9